<ion-view title="Project Minder">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Project" icon="ion-briefcase" href="#/success/myProjects">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Meeting" icon="ion-ios-calendar-outline" href="#/success/myMeetings">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Profile" icon="ion-ios-person" href="#/success/profile">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>